

<!--<html>
    <body>
        <h1>Add a New Shelter</h1>
        <form action="#" method="post">
      
            <p>Name</p>
            <input type="text" size='50' name='name'>
            <p>Address</p>
            <input type="text" size='50' name='address'>
            <p>City</p>
            <input type="text" size='50' name='city'>
            <p>state</p>
            <input type="text" size='50' name='state'>
            <p>zipcode</p>
            <input type="text" size='50' name='zipcode'>
            <p>Website</p>
            <input type="text" size='50' name='website'>
            </br>
            <input type='submit' value='Add'>
        </form>
    </body>
    
</html>-->

{% extends "main.html" %}
{% block content %}

<section class="jumbotron text-center ">
	<div class="container">
		<h1 class="jumbotron-heading ">Add New Shelter</h1>


	</div>
</section>


<form action="#" method="post">
<div class="form-group row">
  <label for="example-text-input" class="col-2 col-form-label">Name</label>
  <div class="col-10">
    <input class="form-control" type="text" name='name' >
  </div>
</div>
<div class="form-group row">
  <label for="example-text-input" class="col-2 col-form-label">Address</label>
  <div class="col-10">
    <input class="form-control" type="text" name='address' >
  </div>
</div>
<div class="form-group row">
  <label for="example-text-input" class="col-2 col-form-label">City</label>
  <div class="col-10">
    <input class="form-control" type="text" name='city'>
  </div>
</div>
<div class="form-group row">
  <label for="example-text-input" class="col-2 col-form-label">State</label>
  <div class="col-10">
    <input class="form-control" type="text" name='state'>
  </div>
</div>
<div class="form-group row">
  <label for="example-number-input" class="col-2 col-form-label">Zip Code</label>
  <div class="col-10">
    <input class="form-control" type="number" name='zipcode' id="example-number-input">
  </div>
</div>
<div class="form-group row">
  <label for="example-url-input" class="col-2 col-form-label">Website</label>
  <div class="col-10">
    <input class="form-control" type="url" name='website'>
  </div>
</div>
<button type="submit" class="btn btn-primary">Add New Shelter</button>
</form>

{% endblock %}