

<html>
    <body>
        <h1>Add a New Shelter</h1>
        <form action="#" method="post">
      
            <p>Name</p>
            <input type="text" size='50' name='name'>
            <p>Address</p>
            <input type="text" size='50' name='address'>
            <p>City</p>
            <input type="text" size='50' name='city'>
            <p>state</p>
            <input type="text" size='50' name='state'>
            <p>zipcode</p>
            <input type="text" size='50' name='zipcode'>
            <p>Website</p>
            <input type="text" size='50' name='website'>
            </br>
            <input type='submit' value='Add'>
        </form>
    </body>
    
</html>