{% extends "main.html" %}
{% block content %}
{% include "carousel.html" %}

<!--jumbotron -->
          <section class="jumbotron text-center" id="jumbotron-main">
            <div class="container">
            <h1 class="jumbotron-heading">{{shelter.name}}</h1>
        <p class="lead text-muted">{{shelter.address}}, {{shelter.state}} {{shelter.zipCode}}</p>
    


           <!--MESSAGE FLASHING
           "with" construct=> a block that does some automatic clean-up-->
           {% with messages = get_flashed_messages() %}
           {% if messages %}

            <p>
                {% for message in messages %}
                <Strong>{{message}}</Strong>
                {% endfor %}
            </p>
            {% endif %}
            {% endwith %}

                  </div>
    </section>
 
  <!-- Default panel contents -->
    
   <section class="jumbotron text-center" id="jumbotron-main">
      <div class="container row">

      {% for i in puppies %}
      <div class="card col-md-4" >

      <!-- List group -->
      <ul class="list-group list-group-item-success">
        <li class="list-group-item"><img class="img-thumbnail" src={{i.picture}} alt={{i.name}}  /></li>
        <li class="list-group-item">ID: {{i.id}}</li>
        <li class="list-group-item">Name: {{i.name}}</li>
        <li class="list-group-item">Gender: {{i.gender}}</li>
        <li class="list-group-item">Birthdate: {{i.dateOfBirth}}</li>
        <li class="list-group-item">Weight: {{i.weight}}</li>
      
      </ul>
      </br>   
      </div>
         {% endfor %}
  {% endblock %}
      </div>
    </section>
 