{% extends "main.html" %}
{% block content %}
{% include "carousel.html" %}


<!--jumbotron -->

<section class="jumbotron text-center ">
	<div class="container">
		<h1 class="jumbotron-heading ">Adopt Me Shelter List</h1>
		
	</div>
</section>


	{% for i in allshelter %}
	

 <ul class="list-group">
	 <li class="list-group-item"><a href="{{url_for('shelterList', shelter_id=i.id)}}" class="list-group-item list-group-item-action">{{i.name}}</a>
	 </li>
</ul>
  

{% endfor %}

</div>
{% endblock %}
